[*.{kt,kts}]
ktlint_standard_wrapping = disabled
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled
ktlint_standard_max-line-length = disabled
ktlint_standard_comment-wrapping = disabled
ktlint_standard_comment-spacing = disabled
