services:
  db:
    image: gvenzl/oracle-free:slim
    container_name: oracle-db
    ports:
      - "50060:1521"
    env_file:
      - .env
    environment:
      ORACLE_PASSWORD: "${ORACLE_PASSWORD}"
      APP_USER: "${APP_USER}"
      APP_USER_PASSWORD: "${APP_USER_PASSWORD}"
    volumes:
      - db_data:/opt/oracle/oradata

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: spring-app
    ports:
      - "8080:8080"
      - "5005:5005"  # 디버그 포트 매핑
    volumes:
      - ./src:/app/src
      - ./build.gradle.kts:/app/build.gradle.kts
      - ./settings.gradle.kts:/app/settings.gradle.kts
      - ${HOME}/.oci:/root/.oci  # OCI 설정 파일과 키를 컨테이너에 마운트
    env_file:
      - .env
    environment:
      SPRING_DATASOURCE_URL: "${SPRING_DATASOURCE_URL}"
      SPRING_DATASOURCE_USERNAME: "${SPRING_DATASOURCE_USERNAME}"
      SPRING_DATASOURCE_PASSWORD: "${SPRING_DATASOURCE_PASSWORD}"
      SPRING_DATASOURCE_DRIVER_CLASS_NAME: "${SPRING_DATASOURCE_DRIVER_CLASS_NAME}"
      SPRING_JPA_HIBERNATE_DDL_AUTO: "${SPRING_JPA_HIBERNATE_DDL_AUTO}"
      SPRING_JPA_SHOW_SQL: "${SPRING_JPA_SHOW_SQL}"
      SPRING_JPA_DATABASE_PLATFORM: "${SPRING_JPA_DATABASE_PLATFORM}"
      SPRING_PROFILES_ACTIVE: "${SPRING_PROFILES_ACTIVE}"
      OBJECT_STORAGE_BUCKET_NAME: "${OBJECT_STORAGE_BUCKET_NAME}"
      OBJECT_STORAGE_NAMESPACE_NAME: "${OBJECT_STORAGE_NAMESPACE_NAME}"
      OBJECT_STORAGE_IMAGE_DIR: "${OBJECT_STORAGE_IMAGE_DIR}"

    depends_on:
      - db

volumes:
  db_data:
    driver: local
